i {
	font-size: 20px;
	color: #A9A9A9;
}

.btnNotCompleted {
	border: solid 1px #A9A9A9;
	background-color: none;
}

.btnCompleted {
	border: none;
}

.btnNotCompleted, .btnCompleted {
	outline: none;
}